.summoners {
  background-color: bisque;
  height: 100vh;
}

.champions{
  background-color: blanchedalmond;
  height: 100vh;
}

.search{
  margin: 30px 0 0 30px;
}

.championCard{
  border: solid 1px #333333;
  padding: 10px;
}