* {
  box-sizing: border-box;
}

.summoners {
  background-color: #03101A;
  min-height: 100vh;
}


.search-form{
  width: 100%;
  height: 50px;
  position: relative; 
  margin: 0 auto;
}

.search-form_input{
  display: block;
  width: 100%;
  border: none;
  padding: 15px 150px 18px 17px;
  border-radius: 3px;
  box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

.results{
  margin: 0 auto;
}

.search-form_button{
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 3px;
  padding: 8px 8px;
  margin: 8px 10px;
  background-color: #E2001A;
  color: #FFF
}

.championCard{
  text-align: center;
  width: 150px;
  color: #FFF
}

.summonerInfo{
  color: #FFF
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {  
  .summoners{
  padding-top: 15px;
  }

  .search-form{
    width: 600px;
  }
}

